.filter
	+select('Цвет', ['Синий', 'Красный'])
	+select('Узор', ['Синий', 'Красный'])
	+select('Стиль', ['Синий', 'Красный'])
	+select('Покрой', ['Синий', 'Красный'])
	.filter-item
		a.button.button_filter(href="#") Показать
	a.close-filter(href="#"): i.icon-close