// begin footer
footer.footer
	.container
		.footer-flex
			a.link-footer.fancybox(href="#privacy") Политика конфиденциальности
			a.link-footer(href="#" target="_blank") Разработано PIT
// end footer