// begin header
header.header
	.main-slider
		.main-slider-item(style="background-image: url(../img/bg1.jpg)")
	.container
		.line
			+b.center-content_y
				a.logo
					img(src="../img/logo.png", alt="")
			+b.contacts_left
				+e.item <span class="wrapp-i"><i class="icon-place"></i></span> Севастополь, ТРЦ «Муссон», 1 этаж
				+e.item <span class="wrapp-i"><i class="icon-time"></i></span> Без выходных с <b>10:00 - 20:00</b>
				+e.item_phone <span class="wrapp-i"><i class="icon-phone"></i></span> +79781076041
			+b.UL.contacts_right
				+e.item <span class="wrapp-i"><i class="icon-place"></i></span> Севастополь, ТРЦ «Меганом», 2 этаж
				+e.item <span class="wrapp-i"><i class="icon-time"></i></span> Без выходных с <b>10:00 - 20:00</b>
				+e.item_phone <span class="wrapp-i"><i class="icon-phone"></i></span> +79781076041
		.main-menu
			a(href="#")
				.icons-wr
					i.icon-prod-1
				span Рубашки 
			a(href="#")
				.icons-wr
					i.icon-prod-2
				span Зажимы
			a(href="#")
				.icons-wr
					i.icon-prod-3
				span Запонки
			a(href="#")
				.icons-wr
					i.icon-prod-4
				span Галстуки
			a(href="#")
				.icons-wr
					i.icon-prod-5
				span Бабочки
			a(href="#")
				.icons-wr
					i.icon-prod-6
				span Шейные платки
			a(href="#")
				.icons-wr
					i.icon-prod-7
				span Брюки
			a(href="#")
				.icons-wr
					i.icon-prod-8
				span Ремни
			a(href="#")
				.icons-wr
					i.icon-prod-9
				span Подтяжки
			a(href="#")
				.icons-wr
					i.icon-prod-10
				span Джемпера
			a(href="#")
				.icons-wr
					i.icon-prod-11
				span Носки
			a(href="#")
				.icons-wr
					i.icon-prod-12
				span КОРЗИНА
		h1.main-title Создай свой идеальный<br>мужской образ
		h3.subtitle С рубашкой и аксессуарами от магазина <strong>"РУСАЛИ"</strong>
		ul.dots
			li
			li
			li.active
			li
		+b.bottom-line
			+e.highlight <span>Получите скидку 15%, сделав заказ на сайте</span>
// end header
