// begin section-contacts
section.section-contacts
	.container
		.line
			.center-content
				.title Магазины “РУСАЛИ”
			+b.contacts_left
				+e.item <span class="wrapp-i"><i class="icon-place-color"></i></span> Севастополь, ТРЦ «Муссон», 1 этаж
				+e.item <span class="wrapp-i"><i class="icon-time-color"></i></span> Без выходных с <b>10:00 - 20:00</b>
				+e.item_phone <span class="wrapp-i"><i class="icon-phone-color"></i></span> +79781076041
				a.button.button_r(href="#") Заказать звонок
			+b.contacts_right
				+e.item <span class="wrapp-i"><i class="icon-place-color"></i></span> Севастополь, ТРЦ «Меганом», 2 этаж
				+e.item <span class="wrapp-i"><i class="icon-time-color"></i></span> Без выходных с <b>10:00 - 20:00</b>
				+e.item_phone <span class="wrapp-i"><i class="icon-phone-color"></i></span> +79781076041
				a.button.button_r(href="#") Заказать звонок
		.store-wrapp
			.store-wrapp-item
				+b.images
					+e.item
						img(src="../img/image-shop.jpg", alt="")
					+e.item
						img(src="../img/image-shop.jpg", alt="")
				.map
					#map-canvas
			.store-wrapp-item
				+b.images
					+e.item
						img(src="../img/image-shop.jpg", alt="")
					+e.item
						img(src="../img/image-shop.jpg", alt="")
				.map
					#map-canvas2
// end section-contacts
