// begin section-1
section.section-1
	.container
		p.p.p_line.
			Для мужчины одежда – это его визитная карточка. Чтобы выделяться из толпы, необходимо создать свой уникальный образ и впечатляющий внешний вид. Мужская одежда способна сделать мужчину успешным и уверенным, красивым и приятным в общении. Одежда – это показатель статуса, поэтому мужчине всегда следует выглядеть современно.   Строгая консервативная классика и свободная, комфортная одежда в стиле casual – таковы главные тенденции современной мужской моды.
		h2.title магазин РУСАЛИ - это
		.about-icons
			.item-dsc
				i.icon-1
				span Широкий ассортимент<br>и наличие размеров
			.item-dsc
				i.icon-2
				span Профессиональные <br>продавцы
			.item-dsc
				i.icon-3
				span Высокий уровень <br>сервиса <br><em>- если товар не понравится или будет бракованный, в  течение 30 дней его можно обменять* (при сохранении целостного внешнего вида)</em>
			.item-dsc
				i.icon-4
				span Обновление ассортимента <br>3 раза в месяц
// end section-1