// begin specialoffers
section.specialoffers
	.container
		.wrapp-title
			.title: span Акции и спецпредложения
		.offers-wrapp
			+b.ofr-item
				+e.IMG.img(src="../img/1.png")
				+e.txt Программа лояльности <br>для постоянных клиентов <br><strong>Кешбек</strong> в виде бонусов
			+b.ofr-item
				+e.IMG.img(src="../img/2.png")
				+e.txt При оформлении заказа <br>с сайта <strong>скидка -15%</strong>
			+b.ofr-item
				+e.IMG.img(src="../img/3.png")
				+e.txt При заказе на <strong>5000 р.</strong> <br>доставка бесплатно
			+b.ofr-item
				+e.IMG.img(src="../img/4.png")
				+e.txt  При покупке набора <br>Рубашка + Брюки + Акссесуар <br>дарим <strong>бесплатную стрижку</strong> <br>в Мужской парикхмахерской <br>Барбершоп «ОлдБой»
// end specialoffers
