extends layout/layout
append config
	- var pageTitle = 'main-page'

block main
	include includes/header.pug
	include includes/section-1.pug

	// begin section-products
	section.section-products
		.container
			.wrapp-title
				.title.title_sm: span В нашем магазине Вы всегда можете подобрать вещь на свой вкус и кошелёк
			h3 Рубашки
			include includes/filter.pug
			.products-wrapp
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
			h3 Зажимы
			.products-wrapp
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')
				+product('../img/product.jpg', 'Рубашка “Название”', '1000 р.')


	// end section-products

	include includes/specialoffers.pug
	include includes/section-contacts.pug
	


	//- include includes/form.pug
	include includes/footer.pug
	//- include includes/modals.pug
	//- include includes/button-menu.pug

	
	